<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/app_home/vendor/css/help_me.css">
</head>
<body>
    {% include '_header.html' %}
    <section class="section-screen main-bg">
        <div class="title">
            <h1>Sessão de ajuda - Descrição de funções por setor</h1><br>
            <div>
                <p>Esta sessão pode lhe ajudar a encontrar o setor correto para solucionar o seu problema.</p>
            </div>
        </div>
        <div class="grid">
            <div class="content">
                <h2>Infraestrutura</h2>
                <ul class="content-description">
                    {% for function in functions %}
                        {% if function.sector.sector_name == 'Infraestrutura' %}
                            <li><h4>{{ function.name }}</h4> - {{ function.description }}</li> <br>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="content">
                <h2>NUIAS</h2>
                <ul class="content-description">
                    {% for function in functions %}
                        {% if function.sector.sector_name == 'NUIAS' %}
                            <li><h4>{{ function.name }}</h4> - {{ function.description }}</li><br>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="content">
                <h2>Patrimônio</h2>
                <ul class="content-description">
                    {% for function in functions %}
                        {% if function.sector.sector_name == 'Patrimônio' %}
                            <li><h4>{{ function.name }}</h4> - {{ function.description }}</li><br>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="content">
                <h2>Hotelaria</h2>
                <ul class="content-description">
                    {% for function in functions %}
                        {% if function.sector.sector_name == 'Hotelaria' %}
                            <li><h4>{{ function.name }}</h4> - {{ function.description }}</li><br>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="content">
                <h2>Engenharia Clínica</h2>
                <ul class="content-description">
                    {% for function in functions %}
                        {% if function.sector.sector_name == 'Engenharia clínica' %}
                            <li><h4>{{ function.name }}</h4> - {{ function.description }}</li><br>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="content">
                <h2>Transportes</h2>
                <ul class="content-description">
                    {% for function in functions %}
                        {% if function.sector.sector_name == 'Transportes' %}
                            <li><h4>{{ function.name }}</h4> - {{ function.description }}</li><br>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="content">
                <h2>Telefonia</h2>
                <ul class="content-description">
                    {% for function in functions %}
                        {% if function.sector.sector_name == 'Telefonia' %}
                            <li><h4>{{ function.name }}</h4> - {{ function.description }}</li><br>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% include '_footer.html' %}
</body>
</html>