{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_ticket/css/styles_single_ticket.css' %}">
    <title>Document</title>
</head>
<body>
    <aside class="menu">
        <section class="menu-content">
            <a href="{% url 'url_home' %}"><h1>HRL - Hospital Regional do Litoral</h1></a>
            <div>
                <a href="{% url 'url_dashboard' %}"> {{ user.first_name }} {{ user.last_name }} </a>
                {% if user.first_name %}
                    -
                    <a style="color: orange" href="{% url 'url_logout' %}"> Sair</a>
                {% endif %}
            </div>
            <nav>
                <ul>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </section>
    </aside>
    <section class="section ticket-info main-bg">
        <div class="ticket-view-block">
            <nav>
                <div class="status">
                    <h4>Status</h4>{{ ticket.status }}
                </div>
                <ul class="ticket-view">
                    <li><h4>Data</h4>{{ ticket.date|date:'d/m/Y H:i:s' }}</li>
                    <li><h4>Nome do requisitante</h4>{{ ticket.requester_name }}</li>
                    <li><h4>Setor requisitante</h4>{{ ticket.sector }}</li>
                    <li><h4>Número da máquina</h4>{{ ticket.machine_number }}</li>
                    <li><h4>Responsável</h4>{{ ticket.response_user }}</li>
                </ul>
                <div class="description">
                    <h4>Descrição do Chamado</h4>{{ ticket.description }}
                </div>
                <div class="lower">
                    {% if ticket.status == 'Aberto' %}
                        <div class="content">
                            <form method="POST">{% csrf_token %}
                                <div class="ticket-username-info"><p>{{ user.first_name }} {{ user.last_name }}</p></div>
                                <input style="display: none;" id="answer-btn" name="answer-btn" type="text" value="True">
                                <button class="btn" type="submit" onclick="return confirm('Confirmar?');">Atender</button>
                            </form>
                        </div>
                    {% elif not is_valid and ticket.status == 'Atendido' %}
                        <div class="content">
                            <form method="POST">{% csrf_token %}
                                <div>
                                    <select name="user-input" id="user-input">
                                        {% for user in users %}
                                            <option selected="{{ user }}" value="{{ user }}">{{ user }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <button class="btn" type="submit" onclick="return confirm('{{ user }} \n Confirmar?');">FINALIZAR</button>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="content">
                            <form method="POST">{% csrf_token %}
                                <input style="display: none;" id="print-btn" name="print-btn" type="text" value="True">
                                <button class="btn" type="submit" onclick="return confirm('Confirmar Impressão? \nChamado: {{ ticket.id }}');">Imprimir</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="message">
                    {% for message in messages %}
                        <p style="font-size: 3rem;">{{ message }}</p>
                    {% endfor %}
                </div>
            </nav>
        </div>
    </section>