{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_ticket/css/styles_ticket.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>NUIAS Ticket system</h1>
    <ul>
        {% for ticket in tickets %}
        <li>{{ticket.id}} - 
            {{ ticket.description }} - 
            {{ ticket.date }} - 
            {{ ticket.sector }} - 
            {{ ticket.requester_name }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>