{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_ticket/css/styles_ticket_center.css' %}">
    <title>Document</title>
</head>
<body>
    <aside class="menu">
        <section class="menu-content">
            <a href="{% url 'url_home' %}"><h1>HRL - Hospital Regional do Litoral</h1></a>
            <nav>
                <ul>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </section>
    </aside>
    <section class="section main-bg">
        <div><h1>Central de chamados - Infraestrutura</h1></div>
        <div class="data-list">
            <div class="list-title">
                <ul>
                    <li>ID</li>
                    <li>Descrição</li>
                    <li>Nome</li>
                    <li>Data</li>
                    <li>Setor</li>
                    <li>Status</li>
                </ul>
            </div>
            <ul>
                {% for ticket in tickets %}
                    {% if ticket.category == 'NUIAS' %}
                        {% if not ticket.status == 'atendido' %}
                            <li>
                                <a class="normal" href="">{{ ticket.id }}</a> 
                                <a class="normal" href="">{{ ticket.description }}</a> 
                                <a class="normal" href="">{{ ticket.requester_name }}</a> 
                                <a class="normal" href="">{{ ticket.date }}</a> 
                                <a class="normal" href="">{{ ticket.sector }}</a> 
                                <a class="normal" href="">{{ ticket.status }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="answered" href="">{{ ticket.id }}</a> 
                                <a class="answered" href="">{{ ticket.description }}</a> 
                                <a class="answered" href="">{{ ticket.requester_name }}</a> 
                                <a class="answered" href="">{{ ticket.date }}</a> 
                                <a class="answered" href="">{{ ticket.sector }}</a> 
                                <a class="answered" href="">{{ ticket.status }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
</body>
</html>