{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_home/vendor/css/styles.css' %}">
    <title>Intranet HRL</title>
</head>
<body>
    <aside class="menu">
        <section class="menu-content">
            <a href="#"><h1>HRL - Hospital Regional do Litoral</h1></a>
            <div>
                <a href="{% url 'url_dashboard' %}"> {{ user.first_name }} {{ user.last_name }} </a>
                {% if user.first_name %}
                    -
                    <a style="color: orange" href="{% url 'url_logout' %}"> Sair</a>
                {% endif %}
            </div>
            <nav>
                <ul class="menu_ul">
                    <li><a href="#">Abrir Chamado</a>
                        <ul class="ul_1">
                            <li><a href="{% url 'url_ticket_form_ti' %}">Informática</a></li>
                            <li><a href="{% url 'url_ticket_form_infra' %}">Infraestrutura</a></li>
                            <li><a href="#">Motoristas</a></li>
                            <li><a href="#">Patrimônio</a></li>
                            <li><a href="#">Hotelaria</a></li>
                            <li><a href="#">Eng. Clínica</a></li>
                            <li><a href="#">Telefonia</a></li>
                            <li><a href="#">Higienização</a></li>
                            <li><a href="#">Preciso de ajuda</a></li>
                        </ul>
                    </li>
                    <li><a href="#section-2">Galeria</a></li>
                    <li><a href="#">Sistemas</a></li>
                    <li><a href="">Central de Chamados</a>
                        <ul class="ul_2">
                            <li><a href="{% url 'url_ticket_center_ti' %}">Informática</a></li>
                            <li><a href="{% url 'url_ticket_center_infra' %}">Infraestrutura</a></li>
                            <li><a href="#">Motoristas</a></li>
                            <li><a href="#">Patrimônio</a></li>
                            <li><a href="#">Hotelaria</a></li>
                            <li><a href="#">Eng. Clínica</a></li>
                            <li><a href="#">Telefonia</a></li>
                            <li><a href="#">Higienização</a></li>
                        </ul>
                    </li>
                    <li><a href="/accounts/login">Login</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </section>
    </aside>
    <section class="section-screen main-bg">
        <div class="grid">
            <div style="display: block; padding-top: 0;">
                <ul class="menu-grid">
                    <a href="https://www.eprotocolo.pr.gov.br/spiweb/entrada.do"><li>E-Protocolo</li></a>
                    <a href="http://lcalab.ddns.net:8080/ConcentWeb/servlet/hlab8000?0,0,,,"><li>LCALAB</li></a>
                    <a href="https://expresso.pr.gov.br/expressoMail1_2/index.php"><li>Expresso</li></a>
                    <a href="http://10.29.0.10/suportetecnico_funeas/tela_inicial/"><li>Intranet FUNEAS</li></a>
                    <a href="http://10.29.0.10/intranet_nova/"><li>Intranet SESA</li></a>
                    <a href="http://191.252.204.47/"><li>RX / TOMO (ANTIGO)</li></a>
                    <a href="https://laudos.mobilemed.com.br/"><li>RX / TOMO (ANTIGO)</li></a>
                    <a href="http://ponto.sesa.parana/"><li>Ponto SESA</li></a>
                    <a href="{% url 'url_phone_extensions' %}"><li>Lista de RAMAIS</li></a>
                    <a href=""><li>Item 3</li></a>
                    <a href=""><li>Item 4</li></a>
                </ul>
            </div>
            <div><h1>SITE EM CONSTRUÇÃO</h1></div>
            <div><h1>SITE EM CONSTRUÇÃO</h1></div>
        </div>
    </section>
    <section id="section-2" class="section-screen">Lorem ipsum dolor sit amet, consectetur 
        adipisicing elit. 
        Minus vitae magnam minima illo enim consequatur, quas officiis eius asperiores 
        consectetur, 
        aliquam deserunt dolorem ipsa alias vel architecto sed inventore exercitationem!
    </section>
</body>
</html>