{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_home/vendor/css/styles.css' %}">
    <title>Intranet HRL</title>
</head>
<body>
    <aside class="menu">
        <section class="menu-content">
            <a href="#"><h1>HRL - Hospital Regional do Litoral</h1></a>
            <div>
                <a href="{% url 'url_dashboard' %}"> {{ user.first_name }} {{ user.last_name }} </a>
                {% if user.first_name %}
                    -
                    <a style="color: orange" href="logout/"> Sair</a>
                {% endif %}
            </div>
            <nav>
                <ul class="menu_ul">
                    <li><a href="#">Abrir Chamado</a>
                        <ul class="ul_1">
                            <li><a href="{% url 'url_ticket_form_ti' %}">Informática</a></li>
                            <li><a href="#">Infraestrutura</a></li>
                            <li><a href="#">Motoristas</a></li>
                            <li><a href="#">Patrimônio</a></li>
                            <li><a href="#">Hotelaria</a></li>
                            <li><a href="#">Eng. Clínica</a></li>
                        </ul>
                    </li>
                    <li><a href="#section-2">Gallery</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="">Central de Chamados</a>
                        <ul class="ul_2">
                            <li><a href="{% url 'url_ticket_center_ti' %}">Informática</a></li>
                            <li><a href="#">Infraestrutura</a></li>
                            <li><a href="#">Motoristas</a></li>
                        </ul>
                    </li>
                    <li><a href="/accounts/login">Login</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </section>
    </aside>
    <section class="section-screen main-bg">
        <div class="grid">
            <div>MENU</div>
            <div>CONTENT</div>
            <div>CONTENT</div>
        </div>
    </section>
    <section id="section-2" class="section-screen">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Minus vitae magnam minima illo enim consequatur, quas officiis eius asperiores consectetur, 
        aliquam deserunt dolorem ipsa alias vel architecto sed inventore exercitationem!</section>
</body>
</html>