{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app_home/vendor/css/styles.css' %}">
</head>
<body class="main-bg">
    {% include '_header.html' %}
    <section class="section">
        <div class='file-system-container'>
            <ul style="display: flex; padding-top: 15rem; display: flex; flex-direction: column;">
                {% for message in messages %}
                    <li>{{ message.name }}</li>
                    <li><a href="{{ message.file }}">{{ message.file }}</a></li>
                {% endfor %}
            </ul>
            {% if history != 'files' %}
                <h1><a style="color: black;" href="/messages_test/{{history}}">Voltar {{ history }}</a></h1>
            {% else %}
                <h1><a style="color: black;" href="/messages_test/files/files">Voltar {{ history }}</a></h1>
            {% endif %}
            <ul style="display: flex; padding-top: 15rem; display: flex; flex-direction: column;">
                {% for dir in dirs %}
                    <li><a href="{% url 'url_messages_test' last_dir dir %}">{{ dir }}</a></li>
                {% endfor %}
            </ul>
            <ul style="display: flex; padding-top: 2rem; display: flex; flex-direction: column;">
                {% for file in files %}
                    <li><a href="{{file}}">{{ file }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
</body>
</html>