<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/app_home/vendor/css/phone_extensions.css">
</head>
<body>
    {% include '_header.html' %}
    <section class="section-screen main-bg">
        <ul class="grid-title">
            <li><h3>Térreo</h3></li>
            <li><h3>1º Andar</h3></li>
            <li><h3>2º Andar</h3></li>
            <li><h3>3º Andar</h3></li>
        </ul>
        <div>
            <ul class="grid">
                <li>
                    {% for branch in branches %}
                        {% if branch.floor == 0 %}
                            {{ branch.branch }} - {{ branch.sector }}<br>
                        {% endif %}
                    {% endfor %}
                </li>
                <li>
                    {% for branch in branches %}
                        {% if branch.floor == 1 %}
                            {{ branch.branch }} - {{ branch.sector }}<br>
                        {% endif %}
                    {% endfor %}
                </li>
                <li>
                    {% for branch in branches %}
                        {% if branch.floor == 2 %}
                            {{ branch.branch }} - {{ branch.sector }}<br>
                        {% endif %}
                    {% endfor %}
                </li>
                <li>
                    {% for branch in branches %}
                        {% if branch.floor == 3 %}
                            {{ branch.branch }} - {{ branch.sector }} <br>
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        <section class="btn"><a href="{% url 'url_home' %}">Voltar</a></section>
    </section>
    {% include '_footer.html' %}
</body>
</html>