{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_ticket/css/styles_ticket_center_transport.css' %}">
    <title>Document</title>
</head>
<body>
    {% include '_tickets_central_header.html' %}
    <section class="section main-bg">
        <div><h1>Central de chamados - TRANSPORTES</h1></div>
        <div class="data-list">
            <div class="list-title">
                <ul>
                    <li>ID</li>
                    <li>Data de partida</li>
                    <li>Hora de saída</li>
                    <li>Requisitante</li>
                    <li>Destino</li>
                    <li>Tipo</li>
                    <li>Ramal</li>
                    <li>Encarregado</li>
                    <li>Status</li>
                </ul>
            </div>
            <ul>
                {% for ticket in tickets %}
                    {% if ticket.status == 'Aberto' %}
                        <li>
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.id }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.departure_date }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.departure_hour }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.requester_name }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.city_name }}</a>
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.transport_type }}</a>
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.phone_branch }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}"></a>
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.status }}</a>
                        </li>
                    {% elif ticket.status == 'Atendido' %}
                        <li>
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.id }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.departure_date }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.departure_hour }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.requester_name }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.city_name }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.transport_type }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.phone_branch }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.response_user }}</a>
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id 'TRANSPORTE' %}">{{ ticket.status }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
</body>
</html>