{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_ticket/css/styles_ticket_center_transport.css' %}">
    <title>Document</title>
</head>
<body>
    <aside class="menu">
        <section class="menu-content">
            <a href="{% url 'url_home' %}"><h1>HRL - Hospital Regional do Litoral</h1></a>
            <div>
                <a href="{% url 'url_dashboard' %}"> {{ user.first_name }} {{ user.last_name }} </a>
                {% if user.first_name %}
                    -
                    <a style="color: orange" href="{% url 'url_logout' %}"> Sair</a>
                {% endif %}
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'url_ticket_center_it_history' %}">Histórico</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </section>
    </aside>
    <section class="section main-bg">
        <div><h1>Central de chamados - TRANSPORTES</h1></div>
        <div class="data-list">
            <div class="list-title">
                <ul>
                    <li>ID</li>
                    <li>Data de partida</li>
                    <li>Hora de saída</li>
                    <li>Requisitante</li>
                    <li>Destino</li>
                    <li>Tipo</li>
                    <li>Ramal</li>
                    <li>Encarregado</li>
                    <li>Status</li>
                </ul>
            </div>
            <ul>
                {% for ticket in tickets %}
                    {% if ticket.status == 'Aberto' %}
                        <li>
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.id }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.departure_date }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.departure_hour }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.requester_name }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.city_name }}</a>
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.transport_type }}</a>
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.phone_branch }}</a> 
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.response_user }}</a>
                            <a class="normal" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.status }}</a>
                        </li>
                    {% elif ticket.status == 'Atendido' %}
                        <li>
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.id }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.departure_date }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.departure_hour }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.requester_name }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.city_name }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.transport_type }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.phone_branch }}</a> 
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.response_user }}</a>
                            <a class="answered" href="{% url 'url_single_ticket' ticket.id %}">{{ ticket.status }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
</body>
</html>