{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_blog/vendor/css/styles.css' %}"/>
    <title>Document</title>
</head>
{% include '_tickets_header.html' %}
<body>
    <section class="section-screen main-bg">
        <div class="padding-top"></div>
        <div class="main-view">
            <div class="title-container">
                <h1>Blog Administration</h1>
            </div>
            <div class="main-container">
                {% if not is_valid %}
                    <form method="post" enctype="multipart/form-data" class="form-grid-container">
                        {% csrf_token %}
                        <div class="form-title-container">
                            {% if edit_mode %}
                                <h3>Editar Post</h3>
                            {% else %}
                                <h3>Novo Post</h3>
                            {% endif %}
                        </div>
                        <ul class="form-grid">
                            <li class="field-description">Título</li>
                            <li>{{ form.title }}</li>
                            <li class="field-description">Descrição</li>
                            <li>{{ form.description }}</li>
                            <li class="field-description">Autor</li>
                            <li>{{ form.author }}</li>
                            <li class="field-description">Imagem</li>
                            <div>{{ form.img }}</div>
                            <li></li>
                            {% if not edit_mode %}
                                <li class="btn-container">
                                    <button 
                                        onclick="return confirm('Confirmar envio?')" 
                                        class="form-btn" 
                                        type="submit">Enviar</button>
                                </li>
                            {% else %}
                                <li class="btn-container">
                                    <button class="form-btn" 
                                            type="submit">Salvar
                                    </button>
                                </li>
                            {% endif %}
                        </ul>
                    </form>
                    <div class="list-container">
                        <div class="list-title-container">
                            <h3>Manutenção</h3>
                        </div>
                        <div class="list-body-container">
                            <div class="post-properties">
                                {% for post in posts %}
                                    <div class="post-item">
                                        <a href="#"><h3>{{ post.title }}</h3></a>
                                        <p>{{ post.date|date:'d/m/Y' }}</p>
                                        <p>{{ post.author }}</p>
                                        <p>{{ post.id }}</p>
                                        <a href="{% url 'url_blog_admin' 'edit' post.id %}">Editar</a>
                                        <a href="javascript:check_delete('{{post.title}}', 
                                        '{% url 'url_blog_admin' 'delete' post.id %}')">
                                        Delete
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="message-page-container">
                        <div class="form-message-container">
                            <h3>{{ message }}</h3>
                        </div>
                        <div class="message-container">
                            <a href="{% url 'url_blog_admin' 'blank' 0 %}">Clique aqui para retornar</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</body>
{% include '_footer.html' %}
<script src="../../static/app_blog/vendor/js/script.js"></script>
</html>