{% load static %}
{% if history %}
    <h2><a style="color: black;" href="?f={{ history }}">Voltar</a></h2>
{% endif %}
<div class="folder-container">
    <ul>
        {% for dir in dirs %}
            <li>
                <a href="?f={{ dir.path }}">
                    <img src="{% static 'app_file_storage/vendor/img/folder-svgrepo-com.svg' %}"
                    width="15"
                    height="15"> {{ dir.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="file-container">
    <ul>
        {% for file in files %}
            <li><a href="{% url 'url_home' %}{{file.path}}">{{ file.file }}</a></li>
        {% endfor %}
    </ul>
</div>