{% load static %}
<section id="section-3" class="footer" style="
                                                color: #FFFFFF;
                                                display: flex;
                                                min-height: 30rem;
                                                background-color: rgb(18, 8, 71);
                                                flex-direction: column;
                                                padding-right: 60rem;
                                                padding-left: 60rem;
                                                ">
    <div>
        <ul style="padding-top: 10rem;
                   display: flex;
                   justify-content: space-around;">
            <li>HRL - Hospital regional do litoral</li>
            <li>Paranaguá - PR - Brasil</li>
        </ul>
    </div>
    <div>
        <ul style="padding-top: 2rem;
                    display: flex;
                   justify-content: space-around;">
            <li>Made with &#128151 by Jonas Fiechter</li>
            <li>Powered by Django</li>
        </ul>
    </div>
</section>