<aside class="menu">
    <section class="menu-content">
        <a href="{% url 'url_home' %}"><h1>HRL - Hospital Regional do Litoral</h1></a>
        <div>
            <a href="{% url 'url_dashboard' %}"> {{ user.first_name }} {{ user.last_name }} </a>
            {% if user.first_name %}
                -
                <a style="color: orange" href="{% url 'url_logout' %}"> Sair</a>
            {% endif %}
        </div>
        <nav>
            <ul class="menu_ul">
                <li><a href="#">Abrir Chamado</a>
                    <ul class="ul_1">
                        <li><a href="{% url 'url_ticket_form_it' %}">Informática</a></li>
                        <li><a href="{% url 'url_ticket_form_infra' %}">Infraestrutura</a></li>
                        <li><a href="{% url 'url_ticket_form_transport' %}">Transportes</a></li>
                        <li><a href="{% url 'url_ticket_form_patrimony' %}">Patrimônio</a></li>
                        <li><a href="{% url 'url_ticket_form_roomcare' %}">Hotelaria</a></li>
                        <li><a href="{% url 'url_ticket_form_clinical_engeneering' %}">Eng. Clínica</a></li>
                        <li><a href="{% url 'url_ticket_form_telephony' %}">Telefonia</a></li>
                        <li><a href="{% url 'url_help_me' %}">Preciso de ajuda</a></li>
                    </ul>
                </li>
                <li><a href="#section-2">Galeria</a></li>
                <li><a href="#">Sistemas</a>
                    <ul class="ul_2">
                        <li><a href="http://10.29.61.9:7407/">Financeiro</a></li>
                        <li><a href="{% url 'url_quality_admin' %}">Qualidade</a></li>
                        <li><a href="{% url 'url_blog_admin' %}">Blog</a></li>
                    </ul>
                </li>
                <li><a href="">Central de Chamados</a>
                    <ul class="ul_3">
                        <li><a href="{% url 'url_ticket_center_it' %}">Informática</a></li>
                        <li><a href="{% url 'url_ticket_center_infra' %}">Infraestrutura</a></li>
                        <li><a href="{% url 'url_ticket_center_transport' %}">Transportes</a></li>
                        <li><a href="{% url 'url_ticket_center_patrimony' %}">Patrimônio</a></li>
                        <li><a href="{% url 'url_ticket_center_roomcare' %}">Hotelaria</a></li>
                        <li><a href="{% url 'url_ticket_center_clinical_engeneering' %}">Eng. Clínica</a></li>
                    </ul>
                </li>
                <li><a href="/accounts/login">Login</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </section>
</aside>