<aside class="menu">
    <section class="menu-content">
        <a href="{% url 'url_home' %}"><h1>HRL - Hospital Regional do Litoral</h1></a>
        <div>
            <a href="{% url 'url_dashboard' %}"> {{ user.first_name }} {{ user.last_name }} </a>
            {% if user.first_name %}
                -
                <a style="color: orange" href="{% url 'url_logout' %}"> Sair</a>
            {% endif %}
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'url_ticket_center_patrimony_history' %}">Histórico</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </section>
</aside>