{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_ticket/css/styles_ticket_center_infra.css' %}">
    <title>Document</title>
</head>
<body>
    {% include '_tickets_central_header.html' %}
    <section class="section main-bg">
        <div><h1>Central de chamados - INFRAESTRUTURA</h1></div>
        <div class="data-list">
            <div class="list-title">
                <ul>
                    <li>ID</li>
                    <li>Descrição</li>
                    <li>Nome</li>
                    <li>Data</li>
                    <li>Responsável</li>
                    <li>Ramal</li>
                    <li>Nº Série</li>
                    <li>Setor</li>
                    <li>Status</li>
                </ul>
            </div>
            <ul>
                {% for ticket in tickets %}
                    {% if ticket.category == 'INFRA' %}
                        {% if ticket.status == 'Finalizado' %}
                            <li>
                                <a class="normal" href="{% url 'url_single_ticket' ticket.id 'NORMAL' %}">{{ ticket.id }}</a> 
                                <a class="normal" href="{% url 'url_single_ticket' ticket.id 'NORMAL' %}">{{ ticket.description|slice:":100" }}</a> 
                                <a class="normal" href="{% url 'url_single_ticket' ticket.id 'NORMAL' %}">{{ ticket.requester_name|slice:":26" }}</a> 
                                <a class="normal" href="{% url 'url_single_ticket' ticket.id 'NORMAL' %}">{{ ticket.date|date:'d/m/Y H:i:s' }}</a> 
                                <a class="normal" href="{% url 'url_single_ticket' ticket.id 'NORMAL' %}">{{ ticket.response_user|slice:":26" }}</a>
                                <a class="normal" href="{% url 'url_single_ticket' ticket.id 'NORMAL' %}">{% if ticket.phone_branch %}{{ ticket.phone_branch }}{% endif %}</a>
                                <a class="normal" href="{% url 'url_single_ticket' ticket.id 'NORMAL' %}">{% if ticket.serial_number %}{{ ticket.serial_number }}{% endif %}</a>
                                <a class="normal" href="{% url 'url_single_ticket' ticket.id 'NORMAL' %}">{{ ticket.sector }}</a> 
                                <a class="normal" href="{% url 'url_single_ticket' ticket.id 'NORMAL' %}">{{ ticket.status }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
</body>
</html>