* {
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%
}

body {
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

li {
    list-style: none;
}

input {
    min-width: 3rem;
}

.username-field textarea {
    max-height: 1.8rem;
}

.main-bg {
    background-image: url('../img/subtle-prism.svg');
    background-position: center center;
    color: #FFFFFF;
}

.section {
    padding-top: 10rem;
    min-height: 100vh;
    display: block;
}

.section div {
    margin: 0 auto;
    max-width: 100rem;
}

.section div h1 {
    padding-top: 2rem;
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}

.ticket-form {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-form ul {
    display: block;
    list-style: none;
}

.ticket-form ul li {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;
}

.ticket-form .button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-form button {
    float: right;
    min-width: 10rem;
    min-height: 4rem;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: rgb(18, 8, 71);
    color: #FFFFFF;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-content h1 {
    padding: 1.8rem;
    border-bottom: 0.2rem solid rgb(18, 8, 71);
}

.menu-content h1:hover{
    border-bottom: 0.2rem solid orange;
    transition: 200ms ease-in;
    color: orange;
}

.menu-content ul {
    display: flex;
}

.menu-content ul li a{
    display: block;
    padding: 2rem;
    border-bottom: 0.2rem solid rgb(18, 8, 71);
}

.menu-content ul li a:hover{
    border-bottom: 0.2rem solid orange;
    transition: 200ms ease-in;
    color: orange;
}

.message-success {
    font-style: italic;
    font-weight: 350;
    display: grid;
    max-width: 70rem;
    margin: 0 auto;
    font-size: 2.5rem;
    color: rgb(0, 255, 21);
    justify-content: center;
    align-items: center;
}

.message-success p {
    display: grid;
    justify-content: center;
    align-items: center;
}

.message-id {
   font-weight: 750;
}

.message-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.message-button a button {
    min-height: 5rem;
    min-width: 8rem;

}

.bg-1 {
    background-color: rgba(0, 0, 0, 0.548);
}