{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app_quality/vendor/css/styles.css' %}"/>
</head>
{% include '_tickets_header.html' %}
<body>
    <section class="section-screen main-bg">
        <div class="padding-top"></div>
        <div class="main-view">
            <div class="title-container">
                <h1>Notificação de situação adversa</h1>
            </div>
            <div class="form-container">
                {% if not is_valid %}
                    <form method="post" enctype="multipart/form-data" class="form-grid-container">
                        {% csrf_token %}
                        <ul class="form-grid">
                            <li>
                                <label for="name">Nome do Notificante</label>
                                <input name="name" type="text">
                            </li>
                            <li>
                                <label for="phone">Telefone</label>
                                <input name="phone" type="text">
                            </li>
                            <li>
                                <label for="function">Função</label>
                                <input name="function" type="text">
                            </li>
                            <li>
                                <label for="sector">Setor</label>
                                <input name="sector" type="text">
                            </li>
                            <li>
                                <label for="date">Data da ocorrência</label>
                                <input type="datetime-local" name="date" required>
                            </li>
                            <li class="patient-option">
                                <label for="with_patient">Envolveu paciente?</label>
                                    <div class="patient-options">
                                        <div class="patient-option-option">                                    
                                            <p>Sim</p>
                                            <input class="yes-no" name="with-patient-option" value="yes" type="radio">
                                        </div>
                                        <div class="patient-option-option">
                                            <p>Não</p>
                                            <input class="yes-no" name="with-patient-option" value="no" type="radio">
                                        </div>
                                </div>
                            </li>
                            <li class="patient-form">
                                <label for="patient-name">Nome do paciente</label>
                                <input name="patient-name" type="text">
                            </li>
                            <li class="patient-form">
                                <label for="chart-number">Nº prontuário</label>
                                <input name="chart-number" type="text">
                            </li>
                            <li class="description-container">
                                <label for="description">Descrição</label>
                                <div class="description-box">{{ form.description }}</div>
                            </li>
                            <li class="drug-option">
                                <label for="with-drug-option">Caso de farmacovigilância ou tecnovigilância?</label>
                                    <div class="drug-options">
                                        <div class="drug-option-option">                                    
                                            <p>Sim</p>
                                            <input class="yes-no-drug" name="with-drug-option" value="yes" type="radio">
                                        </div>
                                        <div class="drug-option-option">
                                            <p>Não</p>
                                            <input class="yes-no-drug" name="with-drug-option" value="no" type="radio">
                                        </div>
                                </div>                            
                            </li>
                            <li class="drug-form">
                                <label for="product-name">Nome do produto</label>
                                <input name="product-name" type="text">
                            </li>
                            <li class="drug-form">
                                <label for="brand-manufacturer">Marca/Fabricante</label>
                                <input name="brand-manufacturer" type="text">
                            </li>
                            <li class="drug-form">
                                <label for="batch">Lote</label>
                                <input name="batch" type="text">
                            </li>
                            <li class="drug-form">
                                <label for="expiration-date">Data de validade</label>
                                <input name="expiration-date" type="date">
                            </li>
                                <div class="form-btn-container">
                                    <button 
                                        onclick="return confirm('Confirmar envio?')" 
                                        class="form-btn" 
                                        type="submit">Enviar</button>
                                </div>
                            </li>
                        </ul>
                    </form>
                {% else %}
                    <div class="form-title-container">
                        <h3>Sua notificação foi enviada com sucesso. Anote o nº do protocolo: {{ id_ }}</h3>
                    </div>
                    <div class="message-container">
                        <a href="{% url 'url_home' %}">Clique aqui para retornar</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</body>
<script src="../../static/app_quality/vendor/js/script.js"></script>
{% include '_footer.html' %}
</html>